In [38]:
import pandas as pd

In [39]:
pl = pd.read_csv('players.csv')

<b> Before performing any analysis on the players' stats dataset, it is important to clean the data to ensure its quality and consistency </b>

In [41]:
pl.head()

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
0,Robert Lewandowski,Barcelona,34,FW,20(1),1682,15.0,5.0,NaN,1.0,3.8,79,1.6,7.0,7.53
1,Karim Benzema,Real Madrid,35,FW,15,1306,11.0,3.0,1.0,NaN,4.7,87,0.7,4.0,7.45
2,Antoine Griezmann,Atletico,31,AM(CLR) FW,18(7),1693,8.0,8.0,NaN,NaN,2.6,81.5,0.8,5.0,7.45
3,Vinícius Júnior,Real Madrid,22,AM(L) FW,24,2122,8.0,4.0,8.0,NaN,2.5,82.3,NaN,4.0,7.38
4,Pedri,Barcelona,20,AM(CL),18(3),1634,6.0,NaN,2.0,NaN,0.8,88.5,NaN,3.0,7.28

### <font color = 'red'>Here is a breakdown of the information each column represents:</font><br>

<b>Player Name: The name of the player.<br>
Team-name: The name of the team the player belongs to.<br>
Age: The age of the player.<br>
Position: The position played by the player.<br>
App: The number of appearances (matches) the player has made.<br>
MinP: Minutes played by the player.<br>
Goals: The number of goals scored by the player.<br>
Assist: The number of assists made by the player.<br>
YC: The number of yellow cards received by the player.<br>
RC: The number of red cards received by the player.<br>
SPG: Shots per game by the player.<br>
PS%: Pass success percentage of the player.<br>
AW: Aerial duels won by the player.<br>
MOTM: Man of the Match awards received by the player.<br>
Rating: Player rating or performance rating.</b>

In [42]:
pl.shape

(542, 15)

In [43]:
# See how the data structured
pl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player Name  542 non-null    object
 1   Team-name    542 non-null    object
 2   Age          542 non-null    int64
 3   Position     542 non-null    object
 4   App          541 non-null    object
 5   MinP         542 non-null    int64
 6   Goals        216 non-null    float64
 7   Assist       206 non-null    float64
 8   YC           394 non-null    float64
 9   RC           92 non-null     float64
 10  SPG          440 non-null    float64
 11  PS%          542 non-null    object
 12  AW           456 non-null    float64
 13  MOTM         151 non-null    float64
 14  Rating       542 non-null    float64
dtypes: float64(8), int64(2), object(5)
memory usage: 63.6+ KB

In [44]:
# Quick overview of important statistical measures
pl.describe()

# can help in identifying missing values. 
# If the count is lower than the total number of observations
# It helps identifying potential issues with the data

,Age,MinP,Goals,Assist,YC,RC,SPG,AW,MOTM,Rating
count,542.000000,542.000000,216.000000,206.000000,394.000000,92.000000,440.000000,456.000000,151.000000,542.000000
mean,26.843173,897.415129,2.652778,1.932039,3.134518,1.108696,0.808864,0.887061,1.629139,6.477675
std,4.704124,663.629943,2.512257,1.207797,1.997371,0.376698,0.634748,0.732831,1.080839,0.311721
min,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.100000,0.100000,1.000000,4.630000
25%,23.000000,280.500000,1.000000,1.000000,1.000000,1.000000,0.400000,0.400000,1.000000,6.252500
50%,27.000000,862.500000,2.000000,2.000000,3.000000,1.000000,0.600000,0.700000,1.000000,6.490000
75%,30.000000,1445.250000,3.000000,2.000000,4.000000,1.000000,1.025000,1.200000,2.000000,6.670000
max,41.000000,2250.000000,15.000000,8.000000,10.000000,3.000000,4.700000,5.600000,7.000000,7.530000

In [45]:
# Check for any missing values
pl.isnull().sum()

Player Name      0
Team-name        0
Age              0
Position         0
App              1
MinP             0
Goals          326
Assist         336
YC             148
RC             450
SPG            102
PS%              0
AW              86
MOTM           391
Rating           0
dtype: int64

In [46]:
pl.head()

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
0,Robert Lewandowski,Barcelona,34,FW,20(1),1682,15.0,5.0,NaN,1.0,3.8,79,1.6,7.0,7.53
1,Karim Benzema,Real Madrid,35,FW,15,1306,11.0,3.0,1.0,NaN,4.7,87,0.7,4.0,7.45
2,Antoine Griezmann,Atletico,31,AM(CLR) FW,18(7),1693,8.0,8.0,NaN,NaN,2.6,81.5,0.8,5.0,7.45
3,Vinícius Júnior,Real Madrid,22,AM(L) FW,24,2122,8.0,4.0,8.0,NaN,2.5,82.3,NaN,4.0,7.38
4,Pedri,Barcelona,20,AM(CL),18(3),1634,6.0,NaN,2.0,NaN,0.8,88.5,NaN,3.0,7.28

In [47]:
# Should fill the null values by 0
# 0 is the common approach to replace null values
pl.fillna(0, inplace=True)

In [48]:
pl.head()
# Null values replaced by 0

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
0,Robert Lewandowski,Barcelona,34,FW,20(1),1682,15.0,5.0,0.0,1.0,3.8,79,1.6,7.0,7.53
1,Karim Benzema,Real Madrid,35,FW,15,1306,11.0,3.0,1.0,0.0,4.7,87,0.7,4.0,7.45
2,Antoine Griezmann,Atletico,31,AM(CLR) FW,18(7),1693,8.0,8.0,0.0,0.0,2.6,81.5,0.8,5.0,7.45
3,Vinícius Júnior,Real Madrid,22,AM(L) FW,24,2122,8.0,4.0,8.0,0.0,2.5,82.3,0.0,4.0,7.38
4,Pedri,Barcelona,20,AM(CL),18(3),1634,6.0,0.0,2.0,0.0,0.8,88.5,0.0,3.0,7.28

In [49]:
# Check for any duplicate rows in the dataset based on the player name
pl.duplicated(subset='Player Name').sum()

10

In [50]:
# View the duplicated values 
duplicated_player = pl[pl.duplicated(subset='Player Name', keep=False)]
duplicated_player

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
9,Memphis Depay,Barcelona,29,AM(CL) FW,2,116,1.0,0.0,0.0,0.0,3.0,83.9,0.5,0.0,7.20
187,Memphis Depay,Atletico,29,AM(CL) FW,2(4),194,3.0,0.0,1.0,0.0,1.0,76.5,0.2,0.0,6.60
295,Toni Villa,Girona,28,AM(CLR),8(11),661,1.0,2.0,2.0,0.0,0.8,81.3,0.1,2.0,6.45
309,Johan Mojica,Elche,30,D(L) M(L),3,270,0.0,0.0,2.0,0.0,1.0,75,1.3,0.0,6.43
320,José Ángel Carmona,Elche,21,D(CR) M(R),7,525,1.0,0.0,3.0,1.0,0.7,71.3,0.7,1.0,6.41
323,Juan Cruz,Osasuna,30,D(CL),17(2),1532,0.0,0.0,6.0,0.0,0.1,79.7,0.7,0.0,6.41
355,Juan Cruz,Real Betis,22,Midfielder,1(4),171,1.0,0.0,0.0,0.0,1.0,73.3,0.2,0.0,6.36
356,José Carlos Lazo,Espanyol,27,Midfielder,0(10),149,1.0,1.0,0.0,0.0,0.4,79.3,0.0,1.0,6.35
362,José Ángel Carmona,Sevilla,21,D(CR) M(R),5(5),529,2.0,1.0,4.0,1.0,0.5,84.4,0.3,1.0,6.35
372,Johan Mojica,Villarreal,30,D(L) M(L),5(8),562,0.0,0.0,0.0,0.0,0.1,89.2,0.5,0.0,6.32
389,Roger,Cadiz,32,FW,6(1),444,0.0,0.0,1.0,0.0,0.9,71.8,1.1,0.0,6.29
442,José Carlos Lazo,Almeria,27,Midfielder,0(1),19,0.0,0.0,0.0,0.0,2.0,75,0.0,0.0,6.19
452,Manu Morlanes,Villarreal,24,DMC,3(2),159,0.0,0.0,0.0,1.0,0.0,80,0.2,0.0,6.16
461,Toni Villa,Real Valladolid,28,AM(CLR),1(1),91,0.0,0.0,0.0,0.0,0.0,74.1,0.0,0.0,6.15
466,Manu Morlanes,Mallorca,24,DMC,0(2),27,0.0,0.0,0.0,0.0,0.0,94.7,0.0,0.0,6.13
473,Roger,Elche,32,FW,8(4),657,0.0,1.0,2.0,0.0,0.5,75.7,0.5,0.0,6.11
503,Ángel Alarcón,Barcelona,18,Midfielder,0(3),22,0.0,0.0,0.0,0.0,0.3,100,0.0,0.0,6.04
514,Ángel Alarcón,Barcelona,18,Midfielder,0(1),1,0.0,0.0,0.0,0.0,0.0,33.3,0.0,0.0,6.00
522,Diego López,Valencia,20,Forward,0(1),9,0.0,0.0,0.0,0.0,0.0,100,0.0,0.0,5.99
541,Diego López,Rayo Vallecano,41,GK,1,90,0.0,0.0,0.0,0.0,0.0,70.8,0.0,0.0,4.63

In [51]:
# Remove the duplicated values
pl.drop_duplicates(subset='Player Name', keep='last', inplace=True)

In [52]:
pl.duplicated(subset='Player Name').sum()

0

In [53]:
pl['App']
# The App column indicates values between parenthesis which means the number of substitute appearances made
# No need for thoose values in the analysis process

0      20(1)
1         15
2      18(7)
3         24
4      18(3)
       ...
537     0(1)
538     2(2)
539     0(1)
540     2(1)
541        1
Name: App, Length: 532, dtype: object

In [54]:
pl['App'] = pl['App'].str.replace(r'\(\d+\)', '', regex=True)
pl['App']

0      20
1      15
2      18
3      24
4      18
       ..
537     0
538     2
539     0
540     2
541     1
Name: App, Length: 532, dtype: object

In [55]:
pl[pl['App'] == '0']

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
107,Carlos García,Cadiz,22,Defender,0,24,0.0,1.0,0.0,0.0,0.0,83.3,1.0,0.0,6.71
176,Álvaro Aceves,Real Valladolid,19,Goalkeeper,0,12,0.0,0.0,0.0,0.0,0.0,80,1.0,0.0,6.61
235,Diego Mariño,Almeria,32,GK,0,45,0.0,0.0,0.0,0.0,0.0,85.7,0.0,0.0,6.53
258,Haissem Hassan,Villarreal,21,Forward,0,23,0.0,0.0,0.0,0.0,0.0,91.7,1.0,0.0,6.50
331,Álvaro Rodríguez,Real Madrid,18,Forward,0,20,1.0,1.0,0.0,0.0,0.3,71.4,0.0,0.0,6.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,Iván Romero,Sevilla,21,Forward,0,10,0.0,0.0,1.0,0.0,0.0,33.3,1.0,0.0,5.92
534,Sergio Reguilón,Atletico,26,D(L) M(L),0,85,0.0,0.0,0.0,1.0,0.0,85.1,0.8,0.0,5.92
535,Roger Martínez,Espanyol,18,Midfielder,0,6,0.0,0.0,0.0,0.0,1.0,100,0.0,0.0,5.91
537,Carlos Álvarez,Sevilla,19,Midfielder,0,9,0.0,0.0,1.0,0.0,0.0,100,0.0,0.0,5.89
539,Álvaro Giménez,Cadiz,31,FW,0,16,0.0,0.0,0.0,0.0,0.0,100,0.0,0.0,5.82

<b> Players with no appearances have some valid numbers, <br>
    which contradicts the reality.<br>
    We should remove them</b>

In [56]:
# Remove rows with 0 values
pl = pl[pl['App'] != '0']
# check if they removed correctly
pl[pl['App'] == '0']
# Rows removed successfully

Empty DataFrame
Columns: [Player Name, Team-name, Age, Position, App, MinP, Goals, Assist, YC, RC, SPG, PS%, AW, MOTM, Rating]
Index: []

In [57]:
# Check the column's type
pl.dtypes

Player Name     object
Team-name       object
Age              int64
Position        object
App             object
MinP             int64
Goals          float64
Assist         float64
YC             float64
RC             float64
SPG            float64
PS%             object
AW             float64
MOTM           float64
Rating         float64
dtype: object

<b> ['App', 'Goals', 'Assist', 'YC', 'RC', 'MOTM'] <br> Thoose columns should ben integer</b>

In [58]:
columns = ['Goals', 'Assist', 'YC', 'RC', 'MOTM'] 

pl.loc[:, columns] = pl.loc[:, columns].astype(int)

In [59]:
# pl['App'] = pl['App'].astype(int)
# ValueError: invalid literal for int() with base 10: '22()'

In [60]:
pl['App'] = pl['App'].str.replace(r'\(.*\)', '',  regex=True)

In [61]:
# still exist none values we should replace them with '0'
pl.fillna('0', inplace= True)

In [62]:
# Convert to integer
pl['App'] = pl['App'].astype(int)

In [63]:
pl['App'].dtypes
# The variable type become integer

dtype('int32')

In [64]:
# Check if there are any null values
pl.isnull().sum()

Player Name    0
Team-name      0
Age            0
Position       0
App            0
MinP           0
Goals          0
Assist         0
YC             0
RC             0
SPG            0
PS%            0
AW             0
MOTM           0
Rating         0
dtype: int64

In [65]:
# Check the types of the data
pl.dtypes

Player Name     object
Team-name       object
Age              int64
Position        object
App              int32
MinP             int64
Goals            int32
Assist           int32
YC               int32
RC               int32
SPG            float64
PS%             object
AW             float64
MOTM             int32
Rating         float64
dtype: object

In [66]:
# Focus on 'PS%' column which is an str column
# Check if the column contain only float value
pattern = r'^\d*\.?\d+$'  # Regular expression pattern to match float numbers
x = pl['PS%'].str.contains(pattern, regex=True, na=False) == False
pl[x]

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
515,Arnau Tenas,Barcelona,21,Goalkeeper,1,1,0,0,1,0,0.0,-,0.0,0,6.0

In [67]:
# Replace the value
pl['PS%'] = pl['PS%'].str.replace('-', '0')

In [68]:
# Check if the row cleaned correctly
pl['PS%'].str.contains('-').sum()

0

In [69]:
# Change the column type
pl['PS%'] = pl['PS%'].astype(float)

In [70]:
pl.dtypes

Player Name     object
Team-name       object
Age              int64
Position        object
App              int32
MinP             int64
Goals            int32
Assist           int32
YC               int32
RC               int32
SPG            float64
PS%            float64
AW             float64
MOTM             int32
Rating         float64
dtype: object

In [71]:
pl.head()

,Player Name,Team-name,Age,Position,App,MinP,Goals,Assist,YC,RC,SPG,PS%,AW,MOTM,Rating
0,Robert Lewandowski,Barcelona,34,FW,20,1682,15,5,0,1,3.8,79.0,1.6,7,7.53
1,Karim Benzema,Real Madrid,35,FW,15,1306,11,3,1,0,4.7,87.0,0.7,4,7.45
2,Antoine Griezmann,Atletico,31,AM(CLR) FW,18,1693,8,8,0,0,2.6,81.5,0.8,5,7.45
3,Vinícius Júnior,Real Madrid,22,AM(L) FW,24,2122,8,4,8,0,2.5,82.3,0.0,4,7.38
4,Pedri,Barcelona,20,AM(CL),18,1634,6,0,2,0,0.8,88.5,0.0,3,7.28

In [73]:
pl.to_csv('cleaned_players_data.csv', index=False)